
<% var title = 'Signup' %>
<% include head %>

<h1>Signup</h1>
<%- message %>
<form method="post" enctype="multipart/form-data" action="/signup">
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Name:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="file" name="thumbnail">
  </p>
  <p>
    <input type="submit" value="Signup">
  </p>
</form>

<% include foot %>
